.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.play {
    text-align: center;
    display: inline-block;

}

body {
    background-color: #c7be0c;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font: size 8px;;
    color: #31be09;
}

p {
    font-size: 2rem;
    color: #030303;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
    border-radius: 24%;
}

footer {
    margin-top: 5%;
    color: #1c1c1c;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size:xx-large;

}